.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgb(59, 119, 202) 0%, rgb(3, 27, 84) 100%);
}
.centro{
    width: 320px;
    height: 500px;
    display: block;
}
.centro > *{
    width: 100%;
}
.botao{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.botao button{
    width: 200px;
    height: 80%;
    background-color: rgb(154, 16, 16);
    border-radius: 10px;
    color: white;
    border: 5px solid white;
}
.botao button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.proxima-batalha{
    height: 70%;
    display: block;
}
.batalha-titulo{
    width: 100%;
    height: 10%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 1%;
}
.batalha-imagem{
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.batalha-imagem img{
    height: 98%;
}
.batalha-descricao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    text-align: center;
}
.batalha-descricao p{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.batalha-jogar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    margin-top: 1%;
}
.batalha-jogar button{
    width: 80%;
    height: 95%;
    border: 3px solid white;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.batalha-jogar button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

h1{
    margin: 0px;
}




@media(max-width:500px) {
    .dialogo-conversa p{
        font-size: 20px;
    }
}

