<app-header></app-header>
<div class="dialogo" *ngIf="dialogoDiv">
    <div class="dialogo-centro">
        <div class="dialogo-continuar" *ngIf="dialogoDiv">
            <button>Continuar</button>
        </div>
        <div class="dialogo-conversa">
            <p>Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! Olá! </p>
        </div>
        <div class="dialogo-personagem">
            <img src="assets/images/personagens/professor.png" alt="">
        </div>
    </div>
</div>

<div class="container">
    <div class="centro">
        <div class="botao">
            <button>Deck</button>
        </div>
        <div class="botao">
            <button>Todas as cartas</button>
        </div>
        <div class="proxima-batalha">
            <div class="batalha-titulo">
                <h1>Blaine</h1>
            </div>
            <div class="batalha-imagem">
                <img src="assets/images/personagens/ash.png" alt="">
            </div>
            <div class="batalha-descricao">
                <p>Dica: <br> Blaine costuma utilizar muitas cartas de fogo...</p>
            </div>
            <div class="batalha-jogar">
                <button>Jogar</button>
            </div>
        </div>
    </div>
</div>