<app-header></app-header>
<app-dialogo [numeroBatalha]="numeroBatalha" [imagemDialogo]="proximoOponente.imagem"></app-dialogo>

<div class="container">
    <div class="centro">
        <div class="botao">
            <button [routerLink]="['/deck']">Deck</button>
        </div>
        <div class="botao">
            <button [routerLink]="['/cartas']">Todas as cartas</button>
        </div>
        <div class="botao">
            <button [routerLink]="['/skins']">Skins</button>
        </div>
        <div class="botao">
            <button [routerLink]="['/jogar-novamente']">Jogar novamente</button>
        </div>
        <div class="proxima-batalha">
            <div class="batalha-titulo">
                <h1>{{proximoOponente.nome}}</h1>
            </div>
            <div class="batalha-imagem">
                <img src="{{caminhoImagemOponente}}" alt="">
            </div>
            <div class="batalha-descricao">
                <p>Dica: <br>{{proximoOponente.dica}}</p>
            </div>
            <div class="batalha-jogar">
                <button *ngIf="jogarBotao" [routerLink]="['/duelo']">Jogar</button>
                <button *ngIf="incompletoBotao" [routerLink]="['/deck']">Deck Incompleto</button>
            </div>
        </div>
    </div>
</div>