.container{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: block;
    background: radial-gradient(circle, rgb(59, 119, 202) 0%, rgb(3, 27, 84) 100%);
}
.div-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.centro{
    width: 300px;
    height: auto;
    display: block;
    color: white;
    margin-top: 20px;
}
.titulo{
    width: 100%;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    margin: 0px;
}
.informacao{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.alternar{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
button{
    width: 140px;
    height: 30px;
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.elemento{
    width: 100%;
    display: flex;
}
.elemento img{
    width: 90px;
}
.efetivo-char{
    height: 90px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}