<div class="container">
    <div class="arena red">
        <div class="personagem">
            <div class="treinador">
                <img src="assets/images/personagens/ash.png" alt="Treinador">
            </div>
            <div class="informacoes">
                <div class="nome"><p>Player 1</p></div>
                <div class="flex">
                    <div class="embaralhar">
                        
                    </div>
                    <div class="pontuacao">
                        <div class="pontos"><p>+7</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="deck reverse">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
        </div>
    </div>
    <div class="arena blue">
        <div class="deck">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
            <img class="yourcards" src="assets/images/cards/card.png" alt="Card">
        </div>
        <div class="personagem">
            <div class="treinador">
                <img src="assets/images/personagens/ash.png" alt="Treinador">
            </div>
            <div class="informacoes">
                <div class="nome"><p>Player 1</p></div>
                <div class="flex">
                    <div class="embaralhar">
                        <div>
                            <img src="assets/images/reverse.png" alt="Embaralhar">
                        </div>
                    </div>
                    <div class="pontuacao">
                        <div class="lendaria"><img class="yourcards" src="assets/images/cards/legendary.gif" alt="Card Lendário"></div>
                        <div class="pontos"><p>+7</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>