.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arena{
    width: 50%;
    height: 100%;
}
.blue{
    background: radial-gradient(circle, rgb(59, 119, 202) 0%, rgb(3, 27, 84) 100%);
    border-left: 1px solid white;
}
.red{
    background: radial-gradient(circle, rgb(202, 59, 59) 0%, rgb(65, 5, 5) 100%);
    border-right: 1px solid white;
}
.personagem{
    width: 100%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.treinador{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.treinador img{
    height: 90%;
}
.informacoes{
    width: 70%;
    height: 100%;
    display: block;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.nome{
    width: 90%;
    height: 17%;
    margin-top: 3%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    border: 3px solid black;
}
.embaralhar{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embaralhar img{
    width: 40px;
}
.embaralhar img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.pontuacao{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pontuacao img{
    width: 70%;
    filter: brightness(0.3);
}
.lendaria{
    width: 40%;
    margin-right: 5%;
}
.pontos{
    background-color: rgb(0, 0, 0, 0.3);
    color: white;
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 5px solid #fbbc48;
    font-size: 40px;
}
.deck{
    width: 100%;
    height: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.deck img{
    margin-left: 2.5%;
    margin-right: 2.5%;
    height: 46%;
    margin-bottom: 1%;
    margin-bottom: 1%;
}
.yourcards:hover{
    transform: scale(1.05);
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5%;
}
.reverse > *{
    transform: rotate(180deg);
}

.background-black{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.8);
    display: flex;
}
.inicio-personagem{
    width: 50%;
    height: 100%;
    background-color: aliceblue;
    display: block;
}
.animacao-esquerda{
    animation: entrarDaEsquerda 1s ease-out;
}
@keyframes entrarDaEsquerda {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.animacao-direita{
    animation: entrarDaDireita 1s ease-out;
}
@keyframes entrarDaDireita {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.inicio-nome{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio-nome div{
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 30px;
    font-size: 20px;
    border: 3px solid black;
}
.inicio-treinador{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.espelhado{
    transform: scaleX(-1);
}
.inicio-treinador img{
    height: 80%;
}
.versus{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    z-index: 1000;
}
.versus img{
    width: 10vw;
}

.vertical{
    width: 100%;
    height: 100%;
    display: flex;       
}
.jogada{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jogada div{
    width: 18vw;
    height: auto;
    background-color: #333;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4%;
}
.brilho-branco{
    animation: brilho 1.5s infinite; 
}
.fade-animacao{
    animation: fadeIn 0.5s forwards;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
.jogada div img{
    width: 100%;
}
.cartaPerdedora div{
    background-image:none;
    background-color: rgb(248, 59, 59);
}
.cartaVencedora div{
    background-image:none;
    background-color: rgb(7, 149, 71);
}
@keyframes brilho {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1);
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
}
@keyframes brilhoCartaVencedora {
    0% {
        box-shadow: 0 0 5px rgba(7, 149, 71, 0.5);
        text-shadow: 0 0 5px rgba(7, 149, 71, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(7, 149, 71, 1);
        text-shadow: 0 0 20px rgba(7, 149, 71, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(7, 149, 71, 0.5);
        text-shadow: 0 0 5px rgba(7, 149, 71, 0.5);
    }
}
@keyframes brilhoCartaPerdedora {
    0% {
        box-shadow: 0 0 5px rgba(248, 59, 59, 0.5);
        text-shadow: 0 0 5px rgba(248, 59, 59, 0.5);
    }
    50% {
        box-shadow: 0 0 20px rgba(248, 59, 59, 1);
        text-shadow: 0 0 20px rgba(248, 59, 59, 1);
    }
    100% {
        box-shadow: 0 0 5px rgba(248, 59, 59, 0.5);
        text-shadow: 0 0 5px rgba(248, 59, 59, 0.5);
    }
}
.entrarDeCima{
    animation: entrarDeCima 1s ease-out;
}
@keyframes entrarDeCima {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.entrarDeBaixo{
    animation: entrarDeBaixo 1s ease-out;
}
@keyframes entrarDeBaixo {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.termino-partida{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quadrado{
    height: 300px;
    width: 300px;
    animation: brilho 1.5s infinite; 
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.venceu{
    animation: brilhoCartaVencedora 1.5s infinite;
}
.perdeu{
    animation: brilhoCartaPerdedora 1.5s infinite;
}
.termino-titulo{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}
.venceu .termino-titulo{
    background-color: rgb(1, 74, 46);
}
.perdeu .termino-titulo{
    background-color: rgb(122, 17, 17);
}
.recompensa{
    width: 100%;
    height: 80%;
    display: block;
}
.recompensa-titulo{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.recompensa-item{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recompensa-item img{
    height: 100%;
}
.abrir-recompensa{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}
.abrir-recompensa button{
    width: 80%;
    height: 70%;
    background-color: rgb(59, 119, 202);
    color: white;
    border-radius: 10px;
    border: 1px solid white;
}
.abrir-recompensa button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.voltar{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voltar button{
    width: 70%;
    height: 17%;
    background-color: rgb(122, 17, 17);
    color: white;
    border-radius: 15px;
}
.voltar button:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.abrir-carta{
    width: 100%;
    height: 100%;
    animation: preencherCircular 0.4s forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abrir-carta img{
    width: 70%;
    max-width: 400px;
    animation: entrarDeCima 4s ease-out, brilhoCartaNova 1.5s infinite;
    border-radius: 20px;
}
.abrir-carta-voltar{
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abrir-carta-voltar button{
    background-color: #01490a;
    color: white;
    width: 200px;
    height: 30px;
    border: 3px solid white;
    border-radius: 10px;
}
.abrir-carta-voltar button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

@keyframes brilhoCartaNova {
    0% {
        box-shadow: 0 0 10px rgba(255, 242, 0, 0.7);
        text-shadow: 0 0 10px rgba(255, 242, 0, 0.7);
    }
    50% {
        box-shadow: 0 0 40px rgba(255, 242, 0, 1);
        text-shadow: 0 0 40px rgba(255, 242, 0, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 242, 0, 0.7);
        text-shadow: 0 0 10px rgba(255, 242, 0, 0.7);
    }
}
@keyframes preencherCircular {
    100% {
        background: radial-gradient(circle, white 0%, transparent 100%);
    }
    95% {
        background: radial-gradient(circle, white 0%, transparent 95%);
    }
    90% {
        background: radial-gradient(circle, white 0%, transparent 90%);
    }
    85% {
        background: radial-gradient(circle, white 0%, transparent 85%);
    }
    80% {
        background: radial-gradient(circle, white 0%, transparent 80%);
    }
    75% {
        background: radial-gradient(circle, white 0%, transparent 75%);
    }
    70% {
        background: radial-gradient(circle, white 0%, transparent 70%);
    }
    65% {
        background: radial-gradient(circle, white 0%, transparent 65%);
    }
    60% {
        background: radial-gradient(circle, white 0%, transparent 60%);
    }
    55% {
        background: radial-gradient(circle, white 0%, transparent 55%);
    }
    50% {
        background: radial-gradient(circle, white 0%, transparent 50%);
    }
    45% {
        background: radial-gradient(circle, white 0%, transparent 45%);
    }
    40% {
        background: radial-gradient(circle, white 0%, transparent 40%);
    }
    35% {
        background: radial-gradient(circle, white 0%, transparent 35%);
    }
    30% {
        background: radial-gradient(circle, white 0%, transparent 30%);
    }
    25% {
        background: radial-gradient(circle, white 0%, transparent 25%);
    }
    20% {
        background: radial-gradient(circle, white 0%, transparent 20%);
    }
    15% {
        background: radial-gradient(circle, white 0%, transparent 15%);
    }
    10% {
        background: radial-gradient(circle, white 0%, transparent 10%);
    }
    5% {
        background: radial-gradient(circle, white 0%, transparent 5%);
    }
    0% {
        background: radial-gradient(circle, white 0%, transparent 0%);
    }
}
.fechar-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.ir-campanha{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}








@media(max-width:1025px) {
    .container{
        display: block;
    }
    .arena{
        width: 100%;
        height: 50%;
    }
    .blue{
        border-top: 1px solid white;
        border-left: none;
    }
    .red{
        border-bottom: 1px solid white;
        border-right: none;
    }
    .pontos{
        width: 15vw;
        height: 15vw;
        border-radius: 50%;
        border: 3px solid #fbbc48;
        font-size: 20px;
    }
    .pontuacao img{
        width: 60%;
    }
    .deck img{
        height: 46%;
    }
    .jogada{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jogada div{
        width: 36vw;
        height: auto;
    }
    .vertical{
        display: block
    }
}
@media(max-width:700px) {
    .jogada div{
        width: auto;
    }
    .jogada div img{
        height: 40vh;
        width: auto;
    }
    .pontuacao img{
        height: 100%;
    }
    .inicio-nome div{
        width: 90%;
        height: 30%;
        font-size: 10px;
    }
    .inicio-treinador img{
        height: 300px;
    }
    .versus img{
        width: 15vw;
    }
    
}