<div class="container">
    <div class="arena red">
        <div class="personagem">
            <div class="treinador">
                <img src="{{ caminhoImagemOponente }}" alt="Treinador">
            </div>
            <div class="informacoes">
                <div class="nome"><p>{{oponente.nome}}</p></div>
                <div class="flex">
                    <div class="embaralhar">
                        
                    </div>
                    <div class="pontuacao">
                        <div class="pontos"><p>{{pontosOponente}}</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="deck reverse">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
            <img src="assets/images/cards/card.png" alt="Card">
        </div>
    </div>
    <div class="arena blue">
        <div class="deck">
            <img *ngFor="let carta of cartasDisponiveis" class="yourcards" [src]="'assets/images/cards/' + carta.imagem" alt="Card"(click)="cartaEscolhida(carta)">
        </div>
        <div class="personagem">
            <div class="treinador">
                <img src="{{ caminhoImagemUsuario }}" alt="Treinador">
            </div>
            <div class="informacoes">
                <div class="nome"><p>{{usuario.nome}}</p></div>
                <div class="flex">
                    <div class="embaralhar">
                        <div>
                            <img src="assets/images/reverse.png" alt="Embaralhar">
                        </div>
                    </div>
                    <div class="pontuacao">
                        <div class="lendaria"><img (click)="ajuda()" class="yourcards" src="assets/images/cards/legendary.gif" alt="Card Lendário"></div>
                        <div class="pontos"><p>{{pontosUsuario}}</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="background-black" *ngIf="inicioDiv || jogadaDiv || terminoPartida ||abrirCartaDiv">



    <div class="inicio-personagem red animacao-esquerda" *ngIf="inicioDiv">
        <div class="inicio-nome">
            <div>
                <h1>{{oponente.nome}}</h1>
            </div>
        </div>
        <div class="inicio-treinador">
            <img src="{{caminhoImagemOponente}}" alt="Treinador">
        </div>
    </div>
    <div class="versus" *ngIf="inicioDiv">
        <img  src="assets/images/vs.png" alt="Versus">
    </div>
    <div class="inicio-personagem blue animacao-direita" *ngIf="inicioDiv">
        <div class="inicio-nome">
            <div>
                <h1>{{usuario.nome}}</h1>
            </div>
        </div>
        <div class="inicio-treinador espelhado">
            <img src="{{caminhoImagemUsuario}}" alt="Treinador">
        </div>
    </div>

    <div class="vertical" *ngIf="jogadaDiv">
        <div class="jogada entrarDeCima">
            <div class="brilho-branco" id="cardOponente">
                <img src="{{caminhoCardOponente}}" alt="Card">
            </div>
        </div>
        <div class="jogada entrarDeBaixo brilho-branco" >
            <div class="brilho-branco" id="cardUsuario">
                <img src="{{caminhoCardUsuario}}" alt="Card">
            </div>
        </div>
    </div>

    <div class="termino-partida" *ngIf="terminoPartida">
        <div class="quadrado venceu" *ngIf="venceu">
            <div class="termino-titulo">
                <h1>Você venceu!</h1>
            </div>
            <div class="recompensa">
                <div class="recompensa-titulo">
                    <p>Recompensas</p>
                </div>
                <div class="recompensa-item">
                    <img class="yourcards" src="assets/images/cards/booster.png" alt="Card">
                </div>
                <div class="abrir-recompensa">
                    <button (click)="abrirCarta()">Abrir</button>
                </div>
            </div>
        </div>
        <div class="quadrado perdeu" *ngIf="perdeu">
            <div class="termino-titulo">
                <h1>Você perdeu!</h1>
            </div>
            <div class="voltar">
                <button [routerLink]="['/campanha']">Voltar</button>
            </div>
        </div>
    </div>

    <div class="abrir-carta" *ngIf="abrirCartaDiv">
        <img src="{{novaCartaCaminho}}" alt="">
        <div class="abrir-carta-voltar">
            <button [routerLink]="['/campanha']">Voltar</button>
        </div>
    </div>

</div>
<div class="fechar-background" (click)="fecharBackground()" *ngIf="fecharBackgroundDiv">

</div>

<app-dialogo [numeroBatalha]="numeroBatalha" [imagemDialogo]="oponente.imagem" *ngIf="dialogoDiv"></app-dialogo>