<app-header></app-header>
<div class="container">
    <div class="block">
        <div class="titulo">
            <h1>Clique na carta para remover do deck</h1>
        </div>
        <div class="remover-cartas">
            <button (click)="removerTodas()">Remover todas</button>
        </div>
        <div class="flex">
            <img *ngFor="let carta of deck" (click)="removerCartaDeck(carta)" [src]="caminhoImagem + carta.imagem"  alt="">
        </div>
        <div class="titulo">
            <h1>Clique na carta para adicionar ao deck</h1>
        </div>
        <div class="flex">
            <img *ngFor="let carta of cartasFiltradas" (click)="adicionarCartaDeck(carta)" [src]="caminhoImagem + carta.imagem"  alt="">
        </div>
    </div>
</div>
<div class="dialogo" *ngIf="dialogoDiv">
    <div class="dialogo-centro">
        <div class="dialogo-continuar" *ngIf="dialogoDiv">
            <button (click)="fecharDialogo()">Continuar</button>
        </div>
        <div class="dialogo-conversa">
            <p>{{this.mensagem}}</p>
        </div>
        <div class="dialogo-personagem">
            <img src="assets/images/personagens/professor.png" alt="">
        </div>
    </div>
</div>