<app-header></app-header>
<div class="container">
    <div class="block">
        <div class="titulo">
            <h1>Centro de treinadores:</h1>
        </div>
        <div class="flex">
            <div class="jogar" *ngFor="let imagem of possui">
                <div>
                    <img  [src]="caminhoBase + imagem" alt="imagem">
                </div>
                <div>
                    <button (click)="selecionarSkin(imagem)">Selecionar Skin</button>
                </div>
                <div>
                    <button (click)="jogar(imagem)">Jogar</button>
                </div>
            </div>
            <div class="jogar" *ngFor="let imagem of naoPossui">
                <div>
                    <img [src]="caminhoBase + imagem" alt="imagem" class="escuro">
                </div>
                <div>
                    <button (click)="selecionarSkin(imagem)">Selecionar Skin</button>
                </div>
                <div>
                    <button>Indisponível</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="mostrarDivSelecionada" class="selecionada">
    <p>{{this.mensagemDivSelecionada}}</p>
</div>